/* BANNER */

#banner{
  height: 100vh; 
   

  .banner-play-title{
    margin: 0;  
    h3{
      font-size: 4vw; 
      margin-bottom: 0; 
      -webkit-text-stroke: 1px var(--color-primary);
      color: rgb(255, 255, 255); 
    }

    &:hover h3 {
      -webkit-text-stroke: 0px var(--color-primary);
      color: var(--color-primary);
    }
    h1{  
      margin-top: 0;
      font-size: 9.3vw; 
      line-height: 3.8rem;
      -webkit-text-stroke: 1px var(--color-primary);
      color: rgb(255, 255, 255); 
    }

    &:hover h1 {
      -webkit-text-stroke: 0px var(--color-primary);
      color: var(--color-primary);
    }
  }


  .banner-work-title  {  
    margin: 0; 
    text-align: end;
    h3{ 
      font-size: 4vw;
      margin-bottom: 0;
      -webkit-text-stroke: 1px var(--color-primary);
      color: rgb(255, 255, 255); 
    }
    &:hover h3 {
      -webkit-text-stroke: 0px var(--color-primary);
      color: var(--color-primary);
    }

    h1{ 
      margin-top: 0;
      font-size: 28.4vw;
      line-height: 13.5rem; 
      -webkit-text-stroke: 1px var(--color-primary);
      color: rgb(255, 255, 255); 
    }
    &:hover h1 {
      -webkit-text-stroke: 0px var(--color-primary);
      color: var(--color-primary);
    }
  }
 
}


  
/* BANNER END */
 