/* BANNER */

@mixin banner-title{
  // background-color: rgb(131, 255, 127);
  margin: 2rem 0; 
  cursor: pointer;
}

@mixin banner-font {
  // -webkit-text-stroke: 1px var(--color-primary);
  // text-stroke: 1px var(--color-primary);
  text-shadow: -1px -1px 0 var(--color-primary), 1px -1px 0 var(--color-primary), -1px 1px 0 var(--color-primary), 1px 1px 0 var(--color-primary);
  // letter-spacing: 1px;
  color: rgb(255, 255, 255);
  margin: 0; 
}

@mixin banner-font-hover {
  -webkit-text-stroke: 0px var(--color-primary);
  color: var(--color-primary); 
}

@mixin banner-nav-display {
  display: flex;
  flex-direction: row; 
}

@mixin banner-nav {
  display: flex;
  flex-direction: row;
  list-style: none; 
  opacity: 0;
  z-index: 10;
}


#banner{
  height: 100%; 
  margin-top: 5rem; 
   
  .banner-play-title{
    @include banner-title;
    // background-color: rgb(39, 250, 151);
    
    h3{
      @include banner-font; 
      font-size: calc(40vw / 7);
      // background-color: rgb(85, 250, 173);
    }
    &:hover h3 {
      @include banner-font-hover; 
    }

    .playnavdisplay{
      @include banner-nav-display;
      // background-color: rgb(3, 124, 68); 
    }
     
    .playnav{  
      @include banner-nav;
      padding-left: 0;  
    }
    &:hover .playnav{
      opacity: 1;
    }  

    h1{
      @include banner-font; 
      font-size:  calc(90vw / 9); 
      line-height: 0.335em;
      padding-bottom: 5rem;
      // background-color: rgb(175, 250, 215);

    }

    &:hover h1 {
      @include banner-font-hover;
    }  
  }

/* Work section */
  .banner-work-title  {  
    @include banner-title;  
    // text-align: end;
    direction: rtl;
    // background-color: rgb(66, 130, 250);
    height: 100%;
    h3{
      @include banner-font; 
      font-size: calc(50vw / 9); 
      // background-color: cornflowerblue;
    }
    &:hover h3 {
      @include banner-font-hover;
    }

    h1{
      @include banner-font; 
      font-size:  calc(90vw / 3); 
      line-height: 0.48em;
      padding-bottom: 5rem; 
      // background-color: rgb(150, 183, 245); 
    }
    &:hover h1 {
      @include banner-font-hover;
    }

    .worknavdisplay{
      @include banner-nav-display;
      // background-color: rgb(197, 213, 243); 
    }
    .worknav{ 
      @include banner-nav;
      padding-left: clamp(1px, 6vw);
      // align-content: flex-end; 
    }
    &:hover .worknav{
      opacity: 1;
    }   
  }
}




/* From 768px to 1024px **********************************************************/
@media (min-width: 768px) and (max-width: 1024px) { 
  
#banner{
  height: 100%; 
  margin-top: 5rem; 
   
  .banner-play-title{ 
    
    h3{  
      font-size: calc(55vw / 7); 
    }
   
    .playnav{ 
      padding-left: 0px; 
    }
    &:hover .playnav{
      opacity: 1;
    }  
     
    h1{ 
      font-size: calc(100vw / 9); 
      line-height: 0.335em;
      padding-bottom: 3rem; 
    }
  }

/* Work section */
  .banner-work-title  {  
    text-align: end;
    h3{ 
      font-size: calc(55vw / 9); 
    }

    h1{ 
      font-size:  calc(100vw / 3); 
      line-height: 0.48em; 
      padding-bottom: 3rem; 
    } 
    .worknav{ 
      // padding-left: 12vw; 
      padding-left: 0px; 
    } 
  } 
}
}

/* Below 767px **********************************************************/
@media  (max-width: 767px) { 
  
#banner{
  height: 100%; 
  margin-top: 5rem; 
   
  .banner-play-title{ 
    
    h3{  
      font-size: calc(55vw / 7); 
    }
   
    .playnav{ 
      padding-left: 0px; 
    }
    &:hover .playnav{
      opacity: 1;
    }  
     
    h1{ 
      font-size: calc(110vw / 9); 
      line-height: 0.335em;
      padding-bottom: 2rem; 
    }
  }

/* Work section */
  .banner-work-title  {  
    text-align: end;
    h3{ 
      font-size: calc(55vw / 9); 
    }

    h1{ 
      font-size:  calc(110vw / 3); 
      line-height: 0.48em; 
      padding-bottom: 2rem; 
    } 
    .worknav{ 
      // padding-left: 12vw; 
      padding-left: 0px; 
    } 
  } 
}
}

 

 



  
/* BANNER END */
