/* HEADER */

@mixin menu-nav-icon{
  display: flex;
  flex-direction: row;
  list-style: none;
  position: absolute;
  top: 11vh;
  opacity: 0;
  transition: all 2s ease; 
}

@mixin menu-nav-icon-active{
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}

@mixin logo-nav-icon{ 
  position: absolute;
  left: 50%;  
  transform: translate(-50%, -50%); 
  transition: all 1s ease;
}

.navbarItems{ 
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  display: flex;
  justify-content: space-between; 
}

button{
  background-color: transparent;
  outline: none;
  border: none;
}

.menu-icon h6{ 
  display: grid;
  grid-template-columns: repeat(3, auto);
  color: var(--color-heading-black);
  margin-top: 4vh; 
} 

.work{
  @include menu-nav-icon; 
  left: 0;
}

.work.active{ 
  @include menu-nav-icon-active; 
  left: 7.5vw; 
  // left: 7.5%;
}

.play{
  @include menu-nav-icon; 
  right: 0;
  
}

.play.active{ 
  @include menu-nav-icon-active;
  right: 10vw;  
}

.nav-links h5{ 
  color: var(--color-accent);
  background-color: var(--color-primary); 
  text-decoration: none;
  list-style: none;
  padding: 0.1rem 0.6rem 0.15rem 0.6rem;
  margin: .4rem; 
}

.logo{
  .logo-1{
    @include logo-nav-icon; 
    color: var(--color-accent);
    opacity: 0.5;
    font-size: 1rem;
    top: 0%; 
  }
  
  .logo-2{
    @include logo-nav-icon;  
    opacity: 0.5;
    font-size: 1rem;
    top: 8%; 
  }
}

.logo.active{  
  .logo-1{
    @include logo-nav-icon; 
    color: var(--color-primary); 
    opacity: 1;   
    top: 10%;
    font-size: 1.5rem;
  }

  .logo-2{ 
    @include logo-nav-icon; 
    opacity: 1;  
    font-size: 2rem;
    top: 15%; 
  }
}
 



/* From 768px to 1024px **********************************************************/
@media (min-width: 768px) and (max-width: 1024px) { 
  .navbarItems{   
    max-width: var(--maxWidth-6xl);  
  }

  .nav-links h5 { 
    padding: 0.1rem 0.6rem 0.15rem 0.6rem;
    margin: .2rem; 
  }
}

/* Below 767px *******************************************************************/
@media  (max-width: 767px) { 
  .navbarItems{  
    max-width: var(--maxWidth-full);  
  }

  .work{ 
    flex-direction: column;
    left: 0;
  }
  
  .work.active{  
    left: -5vw;  
  }
  
  .play{
    flex-direction: column; 
    right: 0;
  }
  
  .play.active{  
    right: 3vw;  
  }

  .nav-links h5 { 
    padding: 0.05rem 0.3rem 0.075rem 0.3rem;
    margin: 0.1rem; 
  }


.logo{
  .logo-1{ 
    font-size: 0.8rem;
    top: 0%; 
  }
  
  .logo-2{ 
    font-size: 0.8rem;
    top: 4%; 
  }
}

.logo.active{  
  .logo-1{  
    font-size: 0.75rem;
    top: 10%; 
  }

  .logo-2{  
    font-size: 1rem;
    top: 15%; 
  }
}
}  
/* HEADER END */
